* {
  box-sizing: border-box;
}

:root {
  --secondary-color: #e6e6e6;
  --text-color: #010101;
  --light-gray: #6d6d6d;
  --accent-color: #ff6347;
  --secondary-color-hover: #f0f0f0;
  --text-color-hover: #1a1a1a; 
  --gradient-background: linear-gradient(135deg, #010101, #4a4a4a, #6d6d6d, #e6e6e6);
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #000000;
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: center;
  color: #e6ddf9;
}
