.header {
    /* padding: 2rem 10%; */
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--light-gray);
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  }
  
  .logo {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: var(--secondary-color);
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: var(--secondary-color-hover);
    color: var(--text-color-hover);
  }

  .accentButton {
    background-color: #FF5733;
  }

  .accentButton:hover {
    background-color: #ff4500;
  }