.post{
    margin: 1rem auto;
    background: linear-gradient(to bottom, #1C1C1C, #3B3B3B);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
    height: 220px;
    text-align: left;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.post a{
  color: aliceblue;
}

.author{
    font-style: italic;
    text-align: right;
    margin-top: auto;
}

@keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }